/images/florida_trip.png
/images/florida_trip_small.png
/images/grand_canyon.png
/images/pyimagesearch_logo.png
/images/pyimagesearch_logo_noise.png
/images/bricks.png
/images/clonazepam_1mg.png
/images/coins01.png
/images/coins02.png
/images/license_plate.png
/images/opencv_logo.png
/images/threshold_example.png
/tester.py
/tissues/test_tissue.png
/tissues/
