/florida_trip.png
/florida_trip_small.png
/grand_canyon.png
/pyimagesearch_logo.png
/pyimagesearch_logo_noise.png
/bricks.png
/clonazepam_1mg.png
/coins01.png
/coins02.png
/license_plate.png
/opencv_logo.png
/threshold_example.png
