/images/florida_trip.png
/images/florida_trip_small.png
/images/grand_canyon.png
/images/pyimagesearch_logo.png
/images/pyimagesearch_logo_noise.png
/images/bricks.png
/images/clonazepam_1mg.png
/images/coins01.png
/images/coins02.png
/images/license_plate.png
/images/opencv_logo.png
/images/threshold_example.png
/tissues/tester.py
/tissues/test_tissue.png
/tissues/
/dlib-19.20/
/datasets/
/Module 10: Image Descriptors/10.4 Hu Moments/output/
/Module 10: Image Descriptors/10.5 Zernike Moments/checkmark.jpg
/Module 10: Image Descriptors/10.6 Haralick texture/sand.jpg
/delete.py
/Module 3: Content-based Image Retrieval/3.5 Extracting keypoints and local invariant descriptors/output/features.hdf5
/Module 3: Content-based Image Retrieval/3.7 Visualizing words in a codebook/features.hdf5
/Module 3: Content-based Image Retrieval/3.5 Extracting keypoints and local invariant descriptors/output/features_quiz.hdf5
/Module 3: Content-based Image Retrieval/Full project/output/
/Module 3: Content-based Image Retrieval/3.8 Vector quantization/3.8.2 Forming a BOVW/output/
